.forgotpassword{
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #E7EAEF;

    form{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #217074;
        color: #E7EAEF;
        padding: 80px 100px;
        border-radius: 10px;

        input{
            margin: 30px 0;
            padding: 10px 40px 10px 10px;
            border-radius: 5px;
            border: none;
        }

        button{
            margin: 20px 0;
            padding: 10px 40px;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            font-size: 18px;
            background-color: #E7EAEF;
            color: #217074;
        }

        a{
            text-decoration: none;
            color: #E7EAEF;
            h3{
                margin-top: 10px;
            }
        }

    }
}